trigger:
  # - main
  - none
pool:
  name: Default
# variables:
#   - group: authGroup
  ##### following variables are defined in the variable group #####
  # appNameDev
  # appNameProd
  # azureSubscription
  # slotName
stages:
  ################################################## Build ##################################################
  - stage: Build
    displayName: "Build & Publish"
    jobs:
      # - job: Format
      #   steps:
      #     - script: |
      #         dotnet tool install dotnet-format
      #         dotnet format --exclude Migrations --report format-report.json || true
      # - job: Test
      #   steps:
      #     - script: |
      #         dotnet test Auth.Tests/Auth.Tests.csproj --filter 'FullyQualifiedName!~Zuhid.Auth.Tests.Api' --settings Auth.Tests/coverlet.runsettings --logger 'trx;LogFileName=TestResult.trx' --collect 'XPlat Code Coverage'
      #       displayName: "Run Test"
      #     - task: PublishTestResults@2
      #       displayName: "Publish Test Results"
      #       inputs:
      #         testResultsFormat: "VSTest"
      #         testResultsFiles: "$(Build.SourcesDirectory)/Auth.Tests/TestResults/TestResult.trx"
      #     - task: PublishCodeCoverageResults@2
      #       displayName: "Publish Code Coverage Results"
      #       inputs:
      #         summaryFileLocation: "$(Build.SourcesDirectory)/Auth.Tests/TestResults/*/coverage.cobertura.xml"
      - job: Publish
        # dependsOn:
        #   - Format
        #   - Test       
        # condition: succeeded()
        steps:
          # - task: DotNetCoreCLI@2
          #   displayName: "Publish Code"
          #   inputs:
          #     command: "publish"
          #     workingDirectory: "Auth"
          #     arguments: "--configuration Release --output $(Build.ArtifactStagingDirectory)"
          #     publishWebProjects: false
          #     zipAfterPublish: true
          # - publish: "$(Build.ArtifactStagingDirectory)"
          #   displayName: "Publish Artifact"
          #   artifact: drop
          - task: Docker@2
            displayName: Build image (no push)
            inputs:
              command: build
              repository: AuthApi
              dockerfile: Auth/Dockerfile
              buildContext: .
              tags: |
                latest
          - task: Docker@2
            displayName: Push docker container to container registry
            inputs:
              command: push
              repository: AuthApi
              dockerfile: Auth/Dockerfile
              containerRegistry: $(DockerRegistryServiceConnection)
              buildContext: .
              tags: |
                latest
